<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="main.js"></script>
</head>

<body>
    <div id="container">
        <header>
            <h1 class="logo"><a href="/">Backend</a></h1>
            <!-- Meny knapp för att öppna mobilmenyn-->
            <button class="menu-btn open" id="open-menu">
                <span class="menu-icon">
                    <span class="bars"></span>
                    <span class="bars"></span>
                    <span class="bars"></span>
                </span>
                <span class="menu-text">Meny</span>
            </button>
            <!-- navigering -->
            <nav id="nav-menu">
                <!-- Knapp som visas om mobilmenyn är utfälld -->
                <button class="menu-btn close" id="close-menu">
                    <span class="menu-icon">
                        <span class="bars cross1"></span>
                        <span class="bars cross2"></span>
                    </span>
                    <span class="menu-text">Stäng</span>
                </button>
                <ul>
                    <li><a href="/">Hem</a></li>
                    <li><a href="/kurs">Kurser</a></li>
                    <li><a href="/om">Om</a></li>
                </ul>
            </nav>
        </header>

        <main>

            <div id="om">
                <h2>
                    Om
                </h2>

                <p>

                    Jag har skapat en webbapplikation som låter besökare att lagra och visa de kurser de har läst.
                    För att lyckas med detta har jag använt Node.js, express och PostgreSQL som databas.
                    Detta genom att skapa en server och ansluta till en databas för att lagra kursinformation och sedan
                    använda dessa.

                    En väldigt kul och lärorik uppgift, jag har väntat länge på att lära mig detta. 
                    Jag hoppas att kommande momenter är lika intressanta och lärorika.

                </p>

            </div>

        </main>

        <footer>

        </footer>
    </div>

</body>

</html>